.vscode
.specstory
.omc
*.pyc
/test/*
.env
.idea/*
data/*
outputs/*
.vscode/launch.json
data/bak.txt
.langgraph_api/
frontend-master
.env
.env
CAPABILITIES_template.md
frontend/node_modules
.playwright-mcp
*.png
.claude/skills/playwright-cli/*